<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <% data.forEach(user => { %>

        <form action="/feed" enctype="multipart/form-data" method="get">
            <label>
                <%= user.username %>
                <input type="text" />
            </label>
        </form>

        <!-- Upload Button -->
        <form action="/images" enctype="multipart/form-data" method="post">
            <label for="fileInput">Upload</label>
            <input type="hidden" name="username" value="<%=user.username%>" />
            <input
                type="file"
                id="fileInput"
                name="multipleFiles"
                multiple="multiple"
                onchange="this.form.submit()"
                style="display: none"
            />
        </form>

        <% }) %>
    </body>
</html>
